numpy>=2
networkx>=2.8
dwave-ocean-sdk>=6.7
strawberryfields>=0.23
matplotlib>=3.5
qiskit>=1
qiskit-algorithms>=0.3
qiskit-ibm-runtime>=0.22
qiskit-optimization>=0.6
qiskit-addon-opt-mapper
quantuminspire>=2
python-dotenv
pytest
perceval-quandela>=1
scipy>=1.11
